.list-item {
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
        font-family: 'PT Mono', ;
        border: none;
        width: 85%;
        background-color: transparent;
        outline: none;
        color: $primary;
    }
    .action-buttons {
        display: flex;
    }
    &:hover {
        background-color: $secondary; 
    }
}
.list-item.selected {
    background-color: $primary;;
    input {
        color: $secondary;
    }
}
.list-item.completed {
    input[type=text] {
        text-decoration: line-through;
    }
}