.icon-button {
    background-color: rgba($primary, 0.6);
    color: $secondary;
    font-size: 12px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    border-radius: 50%;
    &:hover {
        background-color: $primary;
        // border: solid 10px rgba($primary, 0.5);
    }
}
